<nav>
    <div class="nav-wrapper">
        <a href="/" class="left center navHome">Home</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">☰</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="github.com/acmahaja">Github</a></li>
            <li><a href="#">CV 🔗</a></li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li><a href="#">Home</a></li>
    <li><a href="#">Projects</a></li>
    <li><a href="https://github.com/acmahaja">Github</a></li>
    <li><a href="#">CV 🔗</a></li>
</ul>