.Dark {
  background-color: #111111;
  background-image: url("../images/grid.png");
  background-size: contain;
  background-size: 550px;
}

.Dark header {
  background: #191919;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}

.Dark nav a#Logo {
  color: white !important;
  background: none;
}

.Dark nav a {
  color: white;
}

.Dark nav a.active {
  color: white;
  background-color: #303030;
}

nav ul a:hover {
    border-radius: 5px;
}

.Dark #settingsIcon {
    color: white;
}

.Dark #settings h5 {
  color: white;
}

.Dark #settings span {
  color: white !important;
}

.Dark main h3 {
  color: white;
}