.Light {
    background-color: white;
}


.Light header {
    background: #FEFEFE;
    border-bottom-color: #e6e6e6;
    
}

.Light nav a#Logo {
    color: black !important;
    background: none;
}

.Light nav a {
    color: #616161;
}

.Light nav a.active {
    color: white;
    background: #616161;
}

.Light #settingsIcon {
    color: #616161;
}
