header {
  width: 100%;
  height: 72px;
  border-bottom: 4px solid;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
}

header .Highlight {
  width: 100%;
  height: 7px;
  background: linear-gradient(
      90deg,
      rgba(var(--theme-color), 1) 0%,
      rgba(var(--theme-color), 0.5) 100%
    ),
    white;
}

header nav {
  height: 65px;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a#Logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

#Logo span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 39px;
  line-height: 46px;
  letter-spacing: 0.1em;

  background: linear-gradient(
      220.52deg,
      rgba(var(--theme-color), 1) 0%,
      rgba(var(--theme-color), 0.75) 100%
    ),
    black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav ul {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

nav ul a {
  height: 100%;
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.025em;
  padding: 7px 10px;
}

nav ul a.active {
  border-radius: 5px;
}

@keyframes colorHover {
  from {
    background-color: rgba(var(--theme-color),0);
  }

  100% {
    background-color: rgba(var(--theme-color),1);
  }
}


nav ul a:hover {
  color: white;
  background-color: rgba(var(--theme-color), 1);
  animation-name: colorHover;
  animation-duration: 300ms;
}

nav ul a.active:hover {
  background-color: rgba(var(--theme-color), 1);
  color: white;
  animation-name: colorHover;
  animation-duration: 300ms;
}

#settingsIcon {
  margin-left: 10px;
}


#settingsIcon:hover {
  background-color: rgba(var(--theme-color), 1);
  color: white;
  padding: 7px 6px;
  margin-left: 3px;
  margin-right: -5px;
  border-radius: 5px;
  cursor: pointer;
  animation-name: colorHover;
  animation-duration: 300ms;
}


@media screen and (max-width:700px) {
  header {
    flex-direction: column-reverse;
    outline: none;
    border: none;
    position: fixed;
    bottom: 0rem;
  }

  nav {
    padding: 0px 5px !important;
  }

  nav ul a {
    font-size: 13px;
    padding: 5px 5px;
  }

  #Logo {
    display: none;
  }
  nav ul {
    padding: 0px;
    width: 100%;
  }
}