@keyframes showHover {
  from {
    top: 55px;
    opacity: 0%;
  }
  100% {
    top: 85px;
    opacity: 100%;
  }
}

#settings.show {
  position: relative;
  height: fit-content;
  width: 200px;
  left: calc(100vw - 200px - 55px);
  top: 85px;
  padding: 10px 11px;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  background-color: #313131;
  padding-bottom: 0px;
  display: block;


  animation-name: showHover;
  animation-duration: 200ms;

}

#settings.hide {
  display: none;
}

#settings h5 {
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.025em;
  width: 100%;
  margin: 0px;
}

#settings label {
  width: 100%;
  height: fit-content;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#toggle-switch {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#toggle-switch .checked .react-switch-bg {
  background-color: rgba(var(--theme-color), 1) !important;
}

#random-color button {
  height: 35px;
  background: rgba(var(--theme-color), 1);
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Raleway", sans-seri;
  font-weight: 700;
  cursor: pointer;
}

#color-list {
  flex-wrap: wrap;
}

#color-list span {
  width: 100%;
}

#color-list ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
}

#color-list li {
  width: 30px;
  height: 30px;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#color-list li div {
  width: 85%;
  height: 85%;
  border-radius: 50%;
}

#color-list li.selected {
  border-spacing: 20px;
  border-radius: 50%;
  outline: 2px solid #575999;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

@keyframes colorOutlineHover {
  from {
    outline: 0px solid #575999;
  }
  25% {
    outline: 5px solid #575999;
  }
  100% {
    outline: 2px solid #575999;
  }
}

#color-list li:hover {
  border-spacing: 20px;
  border-radius: 50%;
  outline: 2px solid #575999;
  cursor: pointer;

  animation-name: colorOutlineHover;
  animation-duration: 300ms;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}
