.SocialIcon {
  height: 40px;
  width: 40px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.SocialIcon svg {
  color: #868686;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.SocialIcon p {
  font-size: 22px;
  width: 0px;
  min-height: 35px !important;
  max-height: 35px !important;
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.SocialIcon.hover {
    width: fit-content;
    height: 50px;
    border-radius: 7px;
    cursor: pointer;
    animation-name: hover-reveal-background;
    animation-duration: 500ms;
}

.SocialIcon.hover svg {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    color: inherit;
    animation-name: hover-reveal-logo;
    animation-duration: 250ms;
}

.SocialIcon.hover p {
    width: fit-content;
    font-size: 20px;
    margin-right: 10px;
}


.SocialIcon.hoverExit {
    width: 40px;
    height: 40px;
    cursor: default;
    background: none !important;
    animation-name: hover-leave-background;
    animation-duration: 500ms;
}


 
@keyframes hover-reveal-background {
    0% {
        background-color: inherit;
        
    }
    100% {
        background-color: none;
    }
}

@keyframes hover-reveal-logo {
    0% {
        width: 35px;
        height: 35px;
        
    }
    100% {
        width: 40px;
        height: 40px;
    }
}


@keyframes hover-leave-background {
    100% {
        background-color: inherit;
    }
    0% {
        background-color: none;
    }
}



/*
@keyframes hover-leave {
    0% {
        background-color: inherit;
        height: 35px;
        width: fit-content;
    }
    100% {
        background-color: none;
        height: 35px;
        width: 35px;

    }
} */
