<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@acmahaja</title>

    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>
    <div class="app">
        <div class="navbar">
            <div class="brand">Home</div>
            <div class="navbar-link">
                <div class="link">Projects</div>
                <div class="link">Github</div>
                <div class="link">CV 🔗</div>
            </div>
        </div>

    </div>
</body>

</html>