.About {
  background: rgb(var(--saphire-blue));
  width: 100%;
  max-height: 100%;
  position: relative;
  scroll-snap-align: start;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding-top: 100px;
  overflow-x: hidden;
  overflow-y:visible;

  box-sizing: border-box;

}

.About > section {
  width: 100%;
  max-width: 1200px;
  margin-bottom: -100px;
  height: fit-content;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.SectionTitle {
  width: 100%;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 51px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;

  padding-bottom: 25.5px;
  border-bottom: 1px solid white;

  margin: 0px;
}

.Content {
  height: fit-content;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 2em;
}

.Image {
  width: 48.33333333vw;
  height: 48.33333333vw;
  max-width: 580px;
  max-height: 580px;
  position: relative;
}

.Image > img {
  width: 41.66666667vw;
  height: 41.66666667vw;
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  right: 2vw;
  top: 2vw;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s;
  
}

.Image > img:hover {
  right: 1.5vw;
  top: 1.5vw;
  box-shadow: -1vw 1.25vw 0px white;
  transition: ease 0.3s;
}

.Pattern {
  width: 11.5vw;
  height: 11.5vw;
  max-width: 139.899px;
  max-height: 139.899px;
  position: absolute;
  opacity: 1;

  opacity: 1;
  background-image: radial-gradient(
    #ffffff 0.9500000000000001px,
    #10162f00 0.9500000000000001px
  );
  background-size: 19px 19px;
}

.Box {
  width: 41.66666667vw;
  height: 41.66666667vw;
  max-width: 500px;
  max-height: 500px;

  border-radius: 5px;
  border: 1px solid var(--white, #fff);

  position: absolute;
  right: 2.75vw;
  top: 3vw;
  z-index: -1;
}

.Pattern:first-child {
  top: 0px;
  left: 0px;
  z-index: -1;
}

.Pattern:last-child {
  right: 0px;
  bottom: 0px;
}

.Overview {
  height: fit-content;
  width: 100%;
  max-width: 622px;
}

.Description {
  height: fit-content;
  width: 100%;
  max-width: 556px;

  color: rgba(255, 255, 255, 0.6);
  font-family: "JetBrains Mono", monospace;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.5px; /* 135.714% */
}

.TechList {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 207px;
}

.Tech {
  color: rgba(255, 255, 255, 0.6);

  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
}

/* .Tech:hover {
    color: #64FFDA;
    cursor: pointer;
} */

.Tech > svg {
  font-size: 30px;
  margin-right: 15px;
  color: #64ffda;
}

@media screen and (width < 1275px) {
  .Content {
    /* padding-left: 83px; */
  }

  .About > section {
    width: 90%;
  }

  .Description {
    width: 45%;
  }

}

@media screen and (width < 792px){
  .Content {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .Image{
    width: 80vw;
    height: 80vw;
    margin-bottom: 25px;
  }

  .Image > img {
    width: 75vw;
    height: 75vw;
    top: 4vw;
    right: 4vw;
  }

  .Image > img:hover {
    top: 2.5vw;
    right: 2.5vw;
  }

  .Box {
    width: 75vw;
    height: 75vw;
    top: 5.5vw;
    right: 5.5vw;
  }

  .Description{
    width: 90%;
  }
}