.Projects {
  background: rgb(var(--beige));
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Projects section {
  width: 100%;
  min-height: 100%;
  height: fit-content;

  padding: 24px;
  padding-top: 50px;

  max-width: 1248px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
}

.SectionTitle {
  width: 100%;
  height: fit-content;

  font-family: "Karla", sans-serif;
  color: rgb(var(--black));
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
  text-align: right;

  font-size: 3rem;
  font-weight: 700;
  line-height: 125%;

  margin: 0.25rem 0px;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;

  border-bottom: 2px solid rgb(var(--black));
}

.SectionSubTitle {
  font-family: "Karla", sans-serif;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4375rem;
}

.FeaturedProjectList {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.OtherProjectList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); 
  gap: 1rem; 
  overflow-x: auto; 
  width: 100%; 
  height: 35rem;
  white-space: nowrap; 

  padding: 0.25rem;
}


@media screen and (min-width: 751px) {
  .Projects {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }

  .Projects section {
    max-width: 1248px;
    width: 100%;

    padding: 80px 24px 0px 70px;
  }

  .Projects {
    width: calc(100% - 44vw);
    height: auto;
    box-sizing: border-box;
  }

  .FeaturedProjectList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .OtherProjectList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap:1rem;
    overflow-y: scroll;
    width: 100%;
    height: 45rem;
  }
}

@media screen and (min-width: 1300px) {
  .OtherProjectList {
    width: 1200px;
  }  

}
@media screen and (min-width: 1300px) {
  .Projects section {
    padding: 80px 24px 0px 24px;
    max-width: 1248px;
  }

  .Projects .Overview {
    width: 55%;
  }
}

@media screen and (max-height: 600px) {
  .Projects {
    min-height: 600px;
  }
}
