.Welcome {
  background: rgb(var(--beige));
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Welcome section {
  width: 100%;
  min-height: 100%;
  height: fit-content;

  padding: 24px;
  padding-top: 80px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Overview {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  font-family: "Karla", sans-serif;
  color: var(--black, #000);
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
}

.Overview p {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 110%;
  margin: 0.25em 0px;
}

.Overview h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 125%;
  margin: 0.25em 0px;
}

.Overview h3 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 139.286%;
  margin: 0.25em 0px;
}

.Overview .Description {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.ContactInfo {
  width: 100%;
  height: fit-content;
}

.ContactInfo p {
  font-family: "JetBrains Mono", monospace;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
}

.ContactInfo .ContactList {
  width: fit-content;
  height: fit-content;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1.25rem;
}

.ContactList .Contact {
  width: 3.25rem;
  height: 3.25rem;

  margin-top: 0.5rem;
  margin-right: 1.25rem;

  background: rgb(var(--white));

  color: rgb(var(--black));
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  border: 1px solid rgb(var(--black));

  box-sizing: border-box;
  transition: ease 0.5s;

  position: relative;
}

.ContactList .Contact:hover {
  bottom: 3px;
  left: 3px;
  offset-position: bottom 10px left 20px;
  box-shadow: -5px 5px 0px rgba(0, 0, 0, 1);
}

.Linkedin:hover {
  color: white;
  background: #0a66c2;
}

.Github:hover {
  color: white;
  background: #24292f;
}

.Instagram:hover {
  color: white;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.Discord:hover {
  color: white;
  background: #5661f5;
}

.Image {
  width: 480px;
  height: 480px;
  position: relative;
}

.Image {
  position: relative;

  width: 82vw;
  height: 82vw;
}

.Pattern {
  width: 80vw;
  height: 80vw;

  position: absolute;
  bottom: 0vw;
  left: 0vw;

  background-color: rgba(255, 240, 229, 1);
  opacity: 0.8;
  background: repeating-linear-gradient(
    45deg,
    #000000,
    #000000 1px,
    rgba(255, 240, 229, 1) 2px,
    rgba(255, 240, 229, 1) 7px
  );

  border-radius: 10px;
  position: absolute;
}

.Image img {
  width: 80vw;
  height: 80vw;

  position: absolute;
  top: 0.5vw;
  right: 0.5vw;

  outline: solid 2px rgb(var(--black));

  background: rgb(var(--beige));
  border-radius: 10px;

  transition: ease 0.3s;
  z-index: 2;

  cursor: pointer;
}

.Image img:hover {
  top: 0vw;
  right: 0vw;
  box-shadow: -1.5vw 1.5vw 0px rgba(0, 0, 0, 1);
  outline: solid 3px rgb(var(--black));
}

@media screen and (min-width: 751px) {
  .Welcome {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
  }

  .Welcome section {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1248px;
    width: 100%;

    padding: 80px 24px 0px 70px;
  }

  .Overview {
    width: calc(100% - 44vw);
    height: auto;
    box-sizing: border-box;
  }

  .Image {
    width: 40vw;
    height: 40vw;
    max-height: 500px;
    max-width: 500px;
  }

  .Pattern,
  .Image img {
    width: 38vw;
    height: 38vw;
    max-height: 470px;
    max-width: 470px;
  }
}

@media screen and (min-width: 1300px) {
  .Welcome section {
    padding: 80px 24px 0px 24px;
  }
}

@media screen and (max-height: 600px) {
  .Welcome {
    min-height: 600px;
  }
}