.Welcome {
  background: rgb(var(--beige));
  width: 100%;
  height: 100%;
  position: relative;


  display: grid;
  place-items: center;
  overflow-x: hidden;
  overflow-y: scroll;


}

.Welcome > section {
  display: block;
  width: 90%;
  max-width: 1200px;
  height: 100%;

  padding-left: 83px;

  position: absolute;
  color: black;

  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.Overview {
  height: fit-content;
  width: 100%;
  max-width: 622px;
}

.Overview * {
  margin: 10px 0px;
}

.Overview {
  font-family: "Karla", sans-serif;
  font-style: normal;
}

.Overview p {
  font-size: 28px;
  font-weight: 400;
  width: fit-content;
  height: 50px;
}

.Overview h1 {
  font-size: 51px;
  font-weight: 700;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.Overview h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  height: 39px;
  width: fit-content;
}

.Overview .Description {
  width: 100%;
  font-size: 18px;
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 29.5px;
  height: fit-content;
}

.ContactInfo {
  height: fit-content;
  width: fit-content;
  margin-top: 30px;
}

.ContactInfo p {
  font-size: 19px;
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  height: fit-content;
  margin-bottom: -5px;
}

.ContactList {
  text-decoration: none;
  width: 370px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Contact {
  text-decoration: none;
  color: black;

  height: 50px;
  width: 50px;
  background: white;

  border-radius: 3px;
  outline: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  display: grid;
  place-items: center;

  font-size: 1.35em;
  position: relative;
  transition: ease 0.3s;
}


.Contact:hover {
  bottom: 3px;
  left: 3px;
  box-shadow: -3px 3px 0px black;
  transition: ease 0.3s;

}

.Mail:hover {
  color: white;
  background: #dc3636;
}

.Linkedin:hover {
  color: white;
  background: #0a66c2;
}

.Github:hover {
  color: white;
  background: #24292f;
}

.Instagram:hover {
  color: white;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.Discord:hover {
  color: white;
  background: #5661f5;
}

.Image {
  width: 480px;
  height: 480px;
  position: relative;
}

.Pattern {
  background-color: #fff0e5;
  opacity: 0.8;
  background-size: 9px 9px;
  background-image: repeating-linear-gradient(
    45deg,
    #000000 0,
    #000000 0.9px,
    #fff0e5 0,
    #fff0e5 50%
  );
  height: inherit;
  width: inherit;
  position: absolute;
  border-radius: 5px;
  width: 466px;
  height: 466px;
  bottom: 0px;
  left: 0px;
}

.Image img {
  width: 466px;
  height: 466px;
  position: absolute;
  top: 7px;
  right: 7px;
  border-radius: 5px;
  object-fit: cover;
  transition: 0.3s;
}

.Image img:hover {
  top: 3px;
  right: 3px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: -11px 11px 0px rgba(0, 0, 0, 1);
  outline: 2px solid black;
}

@media screen and (width < 1330px) {
  .Overview {
    width: 50%;
  }

  .Image {
    width: 40vw;
    height: 40vw;
  }

  .Pattern {
    width: 37vw;
    height: 37vw;
  }

  .Image img {
    width: 37vw;
    height: 37vw;
    top: 2vw;
    right: 2vw;
  }

  .Image img:hover {
    top: 1vw;
    right: 1vw;
    box-shadow: -2vw 2vw 0px rgba(0, 0, 0, 1);
  }
}

@media screen and (width < 1330px) {
  .Overview {
    width: 49%;
  }
  
  .Overview p {
    font-size: 22px;
    font-style: normal;
    line-height: 16px;
    width: fit-content;
    height: fit-content;
  }

  .Overview h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;

    height: fit-content;
  }

  .Overview h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;

    width: fit-content;
  }

  .Overview .Description {
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 23px;
    margin: 10px 0px;

    height: fit-content;
  }

  .ContactList {
    display: inline-flex;
    flex-wrap: wrap;
    height: fit-content;
    gap: 15px ;
    justify-content: flex-start;
    width: 100%;
  }


}

@media screen and (width < 792px) {
  .Welcome {
    height: fit-content;
  }

  .Welcome > section {
    flex-direction: column;
    width: calc(90% - 95px);
    height: fit-content;
    position: relative;
    top: 100px;
    left: 10px;
    padding: 0px;
  }

  .Overview {
    width: 100%;
    height: auto;
    display: block;
    overflow: visible;
  }

  .Image {
    display: block;
    margin-bottom: 25px;
    width: 80vw;
    height: 80vw;
  }

  .Pattern {
    width: 75vw;
    height: 75vw;
  }

  .Image img {
    width: 75vw;
    height: 75vw;
    top: 3vw;
    right: 3vw;
  }

  .Image img:hover {
    top: 1vw;
    right: 1vw;
  }
  
  .Welcome > section {
    flex-direction: column;
    width: 90%;
    left: 0px;
  }
}
