.line {
  display: none;
}

.Breadcrumb {
  width: 90px;
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: static;
}

.dot {
  background: rgb(var(--black));
  width: 10px;
  height: 10px;

  border-radius: 50%;
  box-sizing: border-box;
}

.selected {
  outline: 3px solid rgb(var(--black));
  outline-offset: 2.5px;
}

.Light .dot {
  background-color: rgb(var(--green));
}

.Light .selected {
  outline: 3px solid rgb(var(--green));
}

.Light .line {
  background-color: rgb(var(--green));
}

@media screen and (min-width: 751px) {
  .Breadcrumb {
    height: 300px;
    width: 58px;

    bottom: 0px;
    left: 0px;
    position: fixed;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .line {
    display: block;
    width: 10px;
    height: 195px;
    background-color: rgb(var(--black));
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}


@media screen and (min-width: 1400px) {
  .Breadcrumb {
    left: 20px;
  }
}