.Navbar {
  width: 100%;
  height: fit-content;
  
  padding: 20px 50px;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;

  z-index: 1;
  
}

.Navbar.Light {
  background: #FFF0E5 !important;

}

.Navbar.Dark {
  background: #10162f;

}


.LogoDesktop {
  display: block;
}

.LogoMobile {
  display: none;
}

.Links {
  height: 22px;
  width: 344px;

  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.NavLink {
  font-family: "Karla", sans-serif;
  text-decoration: none;
  width: fit-content;
  position: relative;
}

.Disabled{
  color: #787878 !important; 
}

.NavLink.Dark::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5px;
  bottom: -4px;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.NavLink.Light::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1.5px;
  bottom: -4px;
  left: 0;
  background-color: #47cca0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}


.NavLink:hover::before {
  transform: scaleX(1);
}

.NavLink.Disabled:hover::before {
  transform: scaleX(0);
}


.NavLink.Dark {
  color: black;
}

.NavLink.Light {
  color: #47cca0;
}

.SideBarIcon {
  display: none;
}

.SideBar {
    display: none;
}

@media screen and (width < 751px) {
  .Navbar {
    padding: 20px 20px 20px 20px;
  }

  .Links {
    display: none;
  }

  .LogoDesktop {
    display: none;
  }

  .LogoMobile {
    display: block;
  }

  .SideBarIcon {
    display: block;
  }

}
