.Navbar {
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;

  z-index: 99;
}

.LogoDesktop {
  display: block;
}

.LogoMobile {
  display: none;
}

.Links {
  height: 22px;
  width: 344px;

  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.NavLink {
  font-family: "Karla", sans-serif;
  text-decoration: none;
  width: fit-content;
}

.NavLink.Dark {
  color: black;
}

.NavLink.Light {
  color: #47cca0;
}

.NavLink:hover {
    border-bottom: 2px solid black;
}

.NavLink.Light:hover {
  border-bottom-color: #47cca0;
}

.SideBarIcon {
  display: none;
}

.SideBar {
    display: none;
}

@media screen and (width < 600px) {
  .Navbar {
    padding: 16px 16px 0px 16px;
  }

  .Links {
    display: none;
  }

  .LogoDesktop {
    display: none;
  }

  .LogoMobile {
    display: block;
  }

  .SideBarIcon {
    display: block;
  }

}
