@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400family=Karla:wght@100;200;300;400;500;600;700&display=swap');

/* font-family: 'JetBrains Mono', monospace;
font-family: 'Karla', sans-serif; */

:root {
  --black: 0, 0, 0;
  --pale-green: 232, 245, 226;
  --saphire-blue: 16, 22, 47;
  --wheat :255, 240, 229;
  --white :255, 255, 255;

}

html {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  /* background: rgb(var(--wheat)); */
  background: rgb(var(--saphire-blue));
}

body, #__next {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: inherit;
}
