@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Karla:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --pale-green: 232, 245, 226;
  --black: 0, 0, 0;
  --beige: 255, 240, 229;
  --saphire-blue: 16, 22, 47;
}

html, body, #__next {
  width: 100%;
  min-height: 100%;
}